<?xml version='1.0' encoding='utf-8'?>
<widget id="com.circlejourney.crochet" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Crochet Counter</name>
    <description>
        Crochet stitch and row counter application.
    </description>
    <author email="circlejourneyart@gmail.com">
        Circlejourney
    </author>
    <icon density="mdpi" height="128" platform="android" src="www/img/logo.png" width="128" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
